ase==3.22.1
lammps==2024.8.29.1.0
matminer==0.8.0
matplotlib==3.9.2
numpy==2.1.2
pandas==2.2.3
pymatgen==2024.2.20
pymatgen_analysis_diffusion==2023.8.15
scikit_learn==1.2.1
scipy==1.14.1
setuptools==73.0.1
